# Build system
.gradle/
build/

# Local configuration
local.properties

# macOS
.DS_Store

# IDE
*.iml
.idea/
*.ipr
*.iws

# Android Studio
captures/
.externalNativeBuild/
.cxx/
output.json

# Binaries
*.apk
*.ap_
*.dex

# Keystore
*.jks
*.keystore

# Google Services
google-services.json

# Profiling
*.hprof

# Logs
*.log